.crud-button{
  font-size: 20px !important;
  margin-top: -5px !important;
  margin-bottom: -5px !important;
}
.crud-button > a{
  color:#56a957 !important;
}
.crud-button a:hover{
  color:#4d984e !important;
}

.inside-sidemenu{
}
.inside-sidemenu > .box{
  background-color: #3c8dbc;
  border-top: none;
}
.inside-sidemenu > .box > .box-body {
  margin:0px;
  padding: 0px;
}
.inside-sidemenu > .box > .box-body > ul {
}
.inside-sidemenu > .box > .box-body > ul > li:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.inside-sidemenu > .box > .box-body > ul > li:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.inside-sidemenu > .box > .box-body > ul > li {
  margin:0px;
  padding: 0px;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  padding: 10px;
  cursor:pointer;
}
.inside-sidemenu > .box > .box-body > ul > li.active{
  background-color: #307096;
}
.inside-sidemenu > .box > .box-body > ul > li:hover{
  background-color: #24536f;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
.inside-sidemenu > .box > .box-body > ul > li > a{
  color:#fff;
}
.inside-sidemenu > .box > .box-body > ul > li > a > h4{
  margin:0px;
}
.inside-sidemenu > .box > .box-body > ul > li.footer {
  background-color: #2a6283;
  text-align: center;
  border-top: none;
  margin:0px;
  padding: 10px;
}
.inside-sidemenu > .box > .box-body > ul > li.footer > a {
  color:#fff;
}
.inside-sidemenu > .box > .box-body > ul > li.footer > a > h4{
  margin:0px;
  padding:0px;
}
.inside-sidemenu > .box > .box-body > ul > li.footer > a:hover {
  color:#c4dcea;
}
.inside-sidemenu > .box > .box-body > ul > li.footer > div.footer-tools {
  cursor:default;
}
.inside-sidemenu > .box > .box-body > ul > li.footer > div.footer-tools > a {
  color:#fff;
  padding:2px;
}
.inside-sidemenu > .box > .box-body > ul > li.footer > div.footer-tools > a:hover {
  color:#c4dcea;
}
.nav-tabs-custom.nav-tabs-customized {
  box-shadow: none;
  margin-bottom: 2px;
}
.nav-tabs-custom.nav-tabs-customized > .nav-tabs {
  border:none;
  border-bottom:solid thin #3c8dbc;
}
.nav-tabs-custom.nav-tabs-customized > .nav-tabs > li{
  -webkit-transition: 0.05s ease-out;
  -o-transition: 0.05s ease-out;
  transition: 0.05s ease-out;
}
.nav-tabs-custom.nav-tabs-customized > .nav-tabs > li.active{
  border-top-color: transparent;
  border-bottom:solid 2px #3c8dbc;
  -webkit-transition: 0.05s ease-out;
  -o-transition: 0.05s ease-out;
  transition: 0.05s ease-out;
}
.nav-tabs-custom.nav-tabs-customized > .nav-tabs > li.active > a {
  color:#3c8dbc;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
